---
layout: default
active_key: home
---
<head>
    <script data-ad-client="ca-pub-7989236567586340" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
</head>

{%- for section in site.data.links -%}
    <div class="ui vertical stripe links segment">
        <div class="ui equal width stackable internally celled grid">
            <div class="center aligned row">
                {%- for category in section.categories -%}
                    <div class="links column">
                        <div class="ui top attached label">{{ category.name }}</div>
                        <div class="ui labels">
                            {% for link in category.links %}<a class="ui {{ link.style }} label" href="{{ link.url }}" target="_blank">{% if link.icon %}<i class="{{ link.icon }} icon"></i>{% endif %}{{ link.name }}</a>{% endfor %}
                        </div>
                    </div>
                {%- endfor -%}
            </div>
        </div>
    </div>
{%- endfor -%}