body {
  min-height: 100vh;
  margin: 0;
}

.whole-screen{
  height: 100vh;
}

.directory{
  background-color: #F5F5F5;
}

.files{
  width: 150px;
  background-color:cadetblue;
}

.el-header {
  padding: 0;
  background-color: #398DEE;
  color: #333;
  text-align: center;
  line-height: 60px;
}

.el-footer{
  padding: 0;
  background-color: #DEE1E6;
  color: #333;
  text-align: center;
  line-height: 60px;
}

.el-aside {
  color: #333;
}

.el-main {
  background-color: #FFFFFF;
  color: #333;
  text-align: center;
  line-height: 160px;
}

body > .el-container {
  margin-bottom: 40px;
}

.el-container:nth-child(5) .el-aside,
.el-container:nth-child(6) .el-aside {
  line-height: 260px;
}

.el-container:nth-child(7) .el-aside {
  line-height: 320px;
}

.search{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 2px ;
}

.margin-up-down-2{
  margin: 2px 0;
}